
    <!-- Estimate_area start  -->
    <div class="Estimate_area overlay">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-5">
                    <div class="Estimate_info">
                        <h3>Demander Votre Devis Gratuitement</h3>
                        <p>Intoduisez les informations de la course que vous voulez faire et nous vous enverrons le devis par email</p>
                        {% set company_contacts= frappe.get_all("Contacts", fields=['mobile'], start=0, page_length=1) %}
                        {% if company_contacts %}
                            <a href="#" class="boxed-btn3">{{company_contacts[0].mobile}}</a>
                        {% endif %} 
                        
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-7">
                    <div class="form">
                        <form action="#">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="input_field">
                                        <input type="text" name="full_customer_name" placeholder="Votre Nom Complet" >
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input_field">
                                        <input type="email" name="email" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input_field">
                                        <input type="tel"  name="phone_number" placeholder="Téléphone" required >
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input_field">
                                        <select class="wide" name="customer_type" >
                                            <option data-display="Vous etes">Vous etes</option>
                                            <option value="Entreprise">Entreprise</option>
                                            <option value="Particulier">Particuler</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input_field">
                                        <select class="wide" name="service_type" >
                                            <option data-display="Quel service">Quel service</option>
                                            {% set services= frappe.get_list("Service", fields=['name','service_title'] )%}
                                            {% for service in services %}
                                            <option value="{{service.service_title}}"> {{service.service_title}}</option>
                                            {% endfor %}

                                            {% set services_dem= frappe.get_list("Service demenagement", fields=['name','service_title'] )%}
                                            {% for service in services_dem %}
                                            <option value="{{service.service_title}}"> {{service.service_title}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input_field">
                                        <select class="wide" name="sending_type" >
                                            <option data-display="Type d'envoi">Type d'envoi</option>
                                            <option value="plis">Plis</option>
                                            <option value="colis">Colis</option>
                                            <option value="Palette">Palette</option>
                                            <option value="Autre">Autre</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6" >
                                    <div class="input_field">
                                        <input type="date" name="date" placeholder="Date" >
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input_field">
                                        <input type="time" name="time" placeholder="Heure" >
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="input_field">
                                        <input type="number" hidden name="quantity" value="0" placeholder="Quantité" >
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="input_field">
                                        <textarea placeholder="Message (optionnel)"></textarea>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="input_field">
                                        <button class="boxed-btn3-line" type="submit">Envoyer</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Estimate_area end  -->

  

    <script type="text/javascript">
        window.addEventListener("load", () => {
            const form = document.querySelector("form");
            form.addEventListener("submit", (e) => {
                e.preventDefault();
                let data = new FormData(form);
                console.log(data);
                let jsonData= JSON.stringify(Object.fromEntries(data));

                axios({
                   
                    method: "post",
                    url: "https://asdutransport.com/api/resource/Demande Devis",
                    data: jsonData,
                    headers: {
                        'Authorization': 'token ff5c301451103db:bfe8d1547ea1c53',
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    }
                })
                    .then((res) => {
                        alert('Succes: Votre demande est soumise. Un de nos agents va vous contacter. Merci!')
                        console.log(res);
                        form.reset()
                    })
                    .catch((err) => {
                        throw err;
                    });
            });

        })
        
    </script>