<div class="contact_location">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="location_left">
                    <div class="logo">
                        <a href="index.html">
                            <img src="/assets/as_du_transport/as_du_transport_public/img/logo.png" alt="">
                        </a>
                    </div>
                    <ul>
                        <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                        <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                        <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                        <li><a href="#"> <i class="fa fa-youtube"></i> </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-md-3">
                <div class="single_location">
                    <h3> <img src="/assets/as_du_transport/as_du_transport_public/img/icon/address.svg" alt=""> Location</h3>
                    <p>600/D, Kings road, Green lane
                        NewYork-2563</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-3">
                <div class="single_location">
                    <h3> <img src="/assets/as_du_transport/as_du_transport_public/img/icon/support.svg" alt=""> Location</h3>
                    <p>+10 267 3563 4562 <br>
                        support@logistico.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
