{% set  company_logo= frappe.get_all("Logo Entreprise", fields=['image'], start=0, page_length=1) %}
{% set company_contacts= frappe.get_all("Contacts", fields=['mobile','email','telephone','adresse','facebook_account','twitter_account','linkedin_account','instagram_account'], start=0, page_length=1) %}   

<div class="contact_location">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="location_left">
                    <div class="logo">
                        <a href="/">
                            {% if company_logo|length > 0  %}
                                <img src="{{company_logo[0].image}}" height="80px"  width="140" alt="">
                            {% endif %}
                        </a>
                    </div>
                    {% if company_contacts |length > 0 %}
                        <ul>
                            <li><a target="_blank" href="{{company_contacts[0].facebook_account}}"> <i class="fa fa-facebook"></i> </a></li>
                            <li><a target="_blank" href="{{company_contacts[0].instagram_account}}"> <i class="fa fa-instagram"></i> </a></li>
                            <li><a target="_blank" href="{{company_contacts[0].twitter_account}}"> <i class="fa fa-twitter"></i> </a></li>
                            <li><a target="_blank" href="{{company_contacts[0].linkedin_account}}"> <i class="fa fa-linkedin"></i> </a></li>
                        </ul>
                    {% endif %}

                </div>
            </div>
            <div class="col-xl-3 col-md-3">
                <div class="single_location">
                    <h3> <img src="/assets/as_du_transport/as_du_transport_public/img/icon/address.svg" alt=""> Localisation</h3>
                    <p>{{company_contacts[0].adresse}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-3">
                <div class="single_location">
                    <h3> <img src="/assets/as_du_transport/as_du_transport_public/img/icon/support.svg" alt=""> Service Client</h3>
                    <p>{{company_contacts[0].telephone}} <br>
                        {{company_contacts[0].email}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
