
{% extends 'templates/asdutransport_base.html' %}

{% block content %}


     <!-- bradcam_area  -->
     <!-- <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>blog Details</h3>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--/ bradcam_area  -->

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
 <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
         <div class="col-lg-10 posts-list">
            <div class="single-post">
               <div class="feature-img">
                  <img class="img-fluid" src="{{single_blogpost.meta_image}}" alt="">
               </div>
               <div class="blog_details">
                  <h2>{{single_blogpost.title}}
                  </h2>
                  <ul class="blog-info-link mt-3 mb-4">
                     <li><a href="#"><i class="fa fa-clock-o"></i> {{single_blogpost.read_time}}</a></li>
                     <li><a href="#"><i class="fa fa-comments"></i> Published on {{single_blogpost.published_on}}</a></li>
                  </ul>
                  <div>
                     {{single_blogpost.blog_content}}
                  </div>
                  <br>
                  <br>
               </div>
            </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Merci de lire cet article  </p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                     <!-- <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href=" https://publish.twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                     </ul> -->
                  </div>
               </div>
            <div class="col-lg-1"></div>
         </div>
 </div>
</section>
<!--================ Blog Area end =================-->


{% endblock %}