{% set why_choose_us=  frappe.get_all("Pourquoi nous" ,fields=['image','intro','argument1','argument2','argument3'], start=0, page_length=1)%}
{% if why_choose_us%}
<div class="chose_area ">
    <div class="container">
        <div class="features_main_wrap">
            <div class="row  align-items-center">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div class="about_image">
                        <img src="{{why_choose_us[0].image}}" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="features_info">
                        <h3>Why Choose Us?</h3>
                        <p>{{why_choose_us[0].intro}}
                        </p>
                        <ul>
                            <li> {{why_choose_us[0].argument1}} </li>
                            <li> {{why_choose_us[0].argument2}} </li>
                            <li> {{why_choose_us[0].argument3}}</li>
                        </ul>

                        <div class="about_btn">
                            <a class="boxed-btn3-line" href="/free_quote">Devis Gratuit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}