{% set clients_number= "hello"  %}
{% if clients_number%}
<!-- 

    frappe.get_all("Compteur clients" ,fields=['covered_cities','successfull_missions','satisfied_clients','success_stories'], start=0, page_length=1)
<div class="counter_area">
    <div class="container">
        <div class="offcan_bg">
            <div class="row">
                <div class="col-xl-3 col-md-3">
                    <div class="single_counter text-center">
                        <h3> <span class="counter">{{clients_number.covered_cities}}</span> <span>+</span> </h3>
                        <p>Villes Couvertes</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_counter text-center">
                        <h3> <span class="counter">{{clients_number.successfull_missions}}</span> <span>+</span> </h3>
                        <p>Missions Accomplies</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_counter text-center">
                        <h3> <span class="counter">{{clients_number.satisfied_clients}}</span></h3>
                        <p>Clients Satisfaits</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_counter text-center">
                        <h3> <span class="counter">{{clients_number.success_stories}}</span></h3>
                        <p>Succès Businness</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> -->

{% endif %}
