
{% extends 'templates/asdutransport_base.html' %}

{% block content %}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_area2  bradcam_bg_2 " style="background-image:url({{single_service.service_full_image}})">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>{{single_service.service_title}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- service_details_start  -->
    <div class="service_details_area">
        <div class="container">
            <div class="row">
                    <div class="col-lg-4 col-md-4">
                            <div class="service_details_left">
                                <h3>Services Déménagement</h3>
                                <div class="nav nav-pills" id="v-pills-tab" role="tablist"
                                    aria-orientation="vertical">
                                    {% for service in services %}
                                        <a class="{% if service.name == single_service.name %} active {% endif %}" id="v-pills-home-tab" href="/demenagement-services/details/{{service.name}}"
                                        role="tab" aria-controls="v-pills-home" aria-selected="true">{{service.service_title}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                    aria-labelledby="v-pills-home-tab">
                                    <div class="service_details_info">
                                        {% if single_service.service_title=="Déménagement" %}
                                            <a href="/demenagement-services">
                                                <div class="alert alert-primary" role="alert" >Voir les services de Déménagement </div> </a>
                                                
                                            </a>

                                        {% endif %}
                                        {{single_service.full_description}}
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <!-- service_details_start  -->

    <!-- Estimate_area start  -->
        {% include 'templates/includes/free_quote/index.html' %}
    <!-- Estimate_area end  -->

    <!-- contact_location  -->
        {% include 'templates/includes/contact_location/index.html' %}
    <!--/ contact_location  -->


{% endblock %}