
{% extends 'templates/asdutransport_base.html' %}

{% block content %}

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-8">
                        <div class="slider_text text-center justify-content-center">
                            <p>For Personal & Business</p>
                            <h3>Global Logistic Service
                                For Business</h3>
                                <a class="boxed-btn3" href="/services">Our Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->
<!--  to delete 
    <div class="transportaion_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_transport">
                        <div class="icon">
                            <img src="/assets/as_du_transport/as_du_transport_public/img/svg_icon/airplane.png" alt="">
                        </div>
                        <h3>Transportation</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem. It look estee luckily or picture
                            placing drawing.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_transport">
                        <div class="icon">
                            <img src="/assets/as_du_transport/as_du_transport_public/img/svg_icon/live.png" alt="">
                        </div>
                        <h3>Live Monitoring</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem. It look estee luckily or picture
                            placing drawing.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_transport">
                        <div class="icon">
                            <img src="/assets/as_du_transport/as_du_transport_public/img/svg_icon/world.png" alt="">
                        </div>
                        <h3>Worldwide Service</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem. It look estee luckily or picture
                            placing drawing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    / to delete 
-->

    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-50 text-center">
                        <h3>
                            Services We Offer
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="service_active owl-carousel">
                        <div class="single_service">
                            <div class="thumb">
                                <img src="/assets/as_du_transport/as_du_transport_public/img/service/1.png" alt="">
                            </div>
                            <div class="service_info">
                                <h3><a href="service_details.html">Ocean Freight</a></h3>
                                <p>Esteem spirit temper too say adieus who direct esteem.</p>
                            </div>
                        </div>
                        <div class="single_service">
                            <div class="thumb">
                                <img src="/assets/as_du_transport/as_du_transport_public/img/service/2.png" alt="">
                            </div>
                            <div class="service_info">
                                <h3><a href="service_details.html">Land Transport</a></h3>
                                <p>Esteem spirit temper too say adieus who direct esteem.</p>
                            </div>
                        </div>
                        <div class="single_service">
                            <div class="thumb">
                                <img src="/assets/as_du_transport/as_du_transport_public/img/service/3.png" alt="">
                            </div>
                            <div class="service_info">
                                <h3><a href="service_details.html">Air Freight</a></h3>
                                <p>Esteem spirit temper too say adieus who direct esteem.</p>
                            </div>
                        </div>
                        <div class="single_service">
                            <div class="thumb">
                                <img src="/assets/as_du_transport/as_du_transport_public/img/service/1.png" alt="">
                            </div>
                            <div class="service_info">
                                <h3><a href="service_details.html">Ocean Freight</a></h3>
                                <p>Esteem spirit temper too say adieus who direct esteem.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- contact_action_area  -->
    {% include '/templates/includes/contact_action_area/index.html' %}
    <!-- /contact_action_area  -->
    <!-- chose_area  -->
        {% include '/templates/includes/chose_us/index.html' %}
    <!--/ chose_area  -->

    <!-- counter_area  -->
        {% include '/templates/includes/clients_number/index.html' %}
    <!-- /counter_area  -->

    <!-- testimonial_area  -->
        {% include '/templates/includes/clients_testimonials/index.html' %}
    <!-- /testimonial_area  -->

    <!-- Estimate_area start  -->
    <div class="Estimate_area overlay">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-5">
                    <div class="Estimate_info">
                        <h3>Get free Estimate</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem. It look estee luckily or picture
                            placing.</p>
                        <a href="#" class="boxed-btn3">+10 672 457 356</a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-7">
                    <div class="form">
                        <form action="#">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="input_field">
                                        <input type="text" placeholder="Your name">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input_field">
                                        <input type="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input_field">
                                        <select class="wide">
                                            <option data-display="Product type">Product type</option>
                                            <option value="1">small</option>
                                            <option value="2">standard</option>
                                            <option value="3">high</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input_field">
                                        <select class="wide">
                                            <option data-display="Product size">Product size</option>
                                            <option value="1">M</option>
                                            <option value="2">L</option>
                                            <option value="3">Xl</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input_field">
                                        <select class="wide">
                                            <option data-display="City of departure">City of departure</option>
                                            <option value="1">departure</option>
                                            <option value="2">departure</option>
                                            <option value="3">departure</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input_field">
                                        <select class="wide">
                                            <option data-display="Delivery city">City of departure</option>
                                            <option value="1">Delivery</option>
                                            <option value="2">Delivery</option>
                                            <option value="3">Delivery</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="input_field">
                                        <textarea placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="input_field">
                                        <button class="boxed-btn3-line" type="submit">Send Estimate</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Estimate_area end  -->

    <!-- contact_location  -->
        {% include '/templates/includes/contact_location/index.html' %}
    <!--/ contact_location  -->
{% endblock %}


