
{% extends 'templates/asdutransport_base.html' %}

{% block content %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Nos Services</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- service_area  -->
<div class="service_area">
    <div class="container">
        <div class="row">


            {% for service in services %}
                <div class="col-md-6 col-lg-4">
                    <div class="single_service">
                        <div class="thumb">
                            <img src="{{service.service_short_image}}" alt="">
                        </div>
                        <div class="service_info">
                            <h3><a href="/services/details/{{service.name}}">{{service.service_title}}</a></h3>
                            <p>{{service.short_description}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="/assets/as_du_transport/as_du_transport_public/img/service/1.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Ocean Freight</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="/assets/as_du_transport/as_du_transport_public/img/service/2.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Land Transport</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">

                <div class="single_service">
                    <div class="thumb">
                        <img src="/assets/as_du_transport/as_du_transport_public/img/service/3.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Air Freight</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="/assets/as_du_transport/as_du_transport_public/img/service/4.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Ocean Freight</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="/assets/as_du_transport/as_du_transport_public/img/service/5.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Land Transport</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">

                <div class="single_service">
                    <div class="thumb">
                        <img src="/assets/as_du_transport/as_du_transport_public/img/service/6.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Air Freight</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!--/ service_area  -->

<!-- contact_action_area  -->
    {% include 'templates/includes/contact_action_area/index.html' %}
<!-- /contact_action_area  -->

<!-- chose_area  -->
    {% include 'templates/includes/chose_us/index.html' %} 
<!--/ chose_area  -->

<!-- counter_area  -->
    {% include 'templates/includes/clients_number/index.html' %}
<!-- /counter_area  -->

<!-- Estimate_area start  -->
{% include 'templates/includes/free_quote/index.html' %}
<!-- Estimate_area end  -->

<!-- contact_location  -->
    {% include 'templates/includes/contact_location/index.html' %}
<!--/ contact_location  -->



{% endblock %}