
{% extends 'templates/asdutransport_base.html' %}

{% block content %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Nos Services</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- service_area  -->
<div class="service_area">
    <div class="container">
        <div class="row">


            {% for service in services %}
                <div class="col-md-6 col-lg-4">
                    <div class="single_service">
                        <div class="thumb">
                            <img src="{{service.service_short_image}}" alt="">
                        </div>
                        <div class="service_info">
                            <h3><a href="/services/details/{{service.name}}">{{service.service_title}}</a></h3>
                            <p>{{service.short_description}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="/assets/as_du_transport/as_du_transport_public/img/service/1.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Ocean Freight</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="/assets/as_du_transport/as_du_transport_public/img/service/2.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Land Transport</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">

                <div class="single_service">
                    <div class="thumb">
                        <img src="/assets/as_du_transport/as_du_transport_public/img/service/3.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Air Freight</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="/assets/as_du_transport/as_du_transport_public/img/service/4.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Ocean Freight</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="/assets/as_du_transport/as_du_transport_public/img/service/5.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Land Transport</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">

                <div class="single_service">
                    <div class="thumb">
                        <img src="/assets/as_du_transport/as_du_transport_public/img/service/6.png" alt="">
                    </div>
                    <div class="service_info">
                        <h3><a href="service_details.html">Air Freight</a></h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!--/ service_area  -->

<!-- contact_action_area  -->
    {% include '/templates/includes/contact_action_area/index.html' %}
<!-- /contact_action_area  -->

<!-- chose_area  -->
    {% include '/templates/includes/chose_us/index.html' %} 
<!--/ chose_area  -->

<!-- counter_area  -->
    {% include '/templates/includes/clients_number/index.html' %}
<!-- /counter_area  -->

<!-- Estimate_area start  -->
<div class="Estimate_area overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-5">
                <div class="Estimate_info">
                    <h3>Get free Estimate</h3>
                    <p>Esteem spirit temper too say adieus who direct esteem. It look estee luckily or picture
                        placing.</p>
                    <a href="#" class="boxed-btn3">+10 672 457 356</a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-7">
                <div class="form">
                    <form action="#">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <input type="text" placeholder="Your name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <input type="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <select class="wide">
                                        <option data-display="Product type">Product type</option>
                                        <option value="1">small</option>
                                        <option value="2">standard</option>
                                        <option value="3">high</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <select class="wide">
                                        <option data-display="Product size">Product size</option>
                                        <option value="1">M</option>
                                        <option value="2">L</option>
                                        <option value="3">Xl</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <select class="wide">
                                        <option data-display="City of departure">City of departure</option>
                                        <option value="1">departure</option>
                                        <option value="2">departure</option>
                                        <option value="3">departure</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input_field">
                                    <select class="wide">
                                        <option data-display="Delivery city">City of departure</option>
                                        <option value="1">Delivery</option>
                                        <option value="2">Delivery</option>
                                        <option value="3">Delivery</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="input_field">
                                    <textarea placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="input_field">
                                    <button class="boxed-btn3-line" type="submit">Send Estimate</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Estimate_area end  -->

<!-- contact_location  -->
    {% include '/templates/includes/contact_location/index.html' %}
<!--/ contact_location  -->



{% endblock %}